{{ $postsPath := .Site.Params.footer.recentPosts.path | default "blogs" }}
{{ $postsCount := .Site.Params.footer.recentPosts.count | default 3 }}
{{ $recentPosts := where .Site.RegularPages "Section" $postsPath | first $postsCount }}
{{ if $recentPosts }}
<section id="posts" class="py-5">
    <div class="container">
        <h3 class="text-center">{{ .Site.Params.footer.recentPosts.title | default "Posts" }}</h3>
        <div class="row justify-content-center pt-4">
            {{ range $recentPosts }}
            <div class="col-lg-4 col-md-6 my-3">
                <div class="card h-100">
                    {{ if and (not (.Site.Params.footer.recentPosts.disableFeaturedImage | default false)) (.Params.image) }}
                    <div class="card-header">
                        <a href="{{ .RelPermalink }}">
                            <img src="{{ .Params.image }}" class="card-img-top" alt="{{ .Title }}">
                        </a>
                    </div>
                    {{ end }}
                    <div class="card-body bg-transparent p-4 shadow-sm">
                        <a href="{{ .RelPermalink }}" class="primary-font card-title">
                            <h5 class="card-title bg-transparent" title="{{ .Title }}">{{ .Title | truncate 25 }}</h5>
                        </a>
                        <div class="card-text secondary-font">
                            <p>{{ .Summary | truncate 300 }}</p>
                        </div>
                    </div>
                    <div class="mt-auto post-footer bg-transparent py-3">
                        <span class="float-start bg-transparent">{{ .Date.Format (.Site.Params.datesFormat.articleList | default "January 2, 2006") }}</span>
                        <a href="{{ .RelPermalink }}" class="float-end btn btn-outline-info btn-sm">{{ .Site.Params.terms.read | default "Read" }}</a>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="text-center py-3">
            <a href="{{ "blogs" | relURL }}" class="btn btn-outline-primary">View all posts</a>
        </div>
    </div>
</section>
{{ end }}
